[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    except ImportError
    raise NotImplementedError
    pass
    ABCmeta
    abstractmethod
    abstractproperty
    abstractclassmethod
    warnings.warn
