include LICENSE
include README.rst
include setup.cfg
include tox.ini
include docs/pages/introduction/summary.txt
include */py.typed

recursive-include requirements *
recursive-include ss *
recursive-include test *

global-exclude __pycache__/*
global-exclude *.pyc
