[tool.black]
line-length = 100
exclude = '''
/(
      \.eggs
    | \.git
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
)/
| docs/conf.py
| setup.py
'''

[tool.isort]
dont_skip = '*/**/__init__.py'
known_third_party = [
    'pandas',
    'pathvalidate',
    'pytablereader',
    'sqliteschema',
    'tabledata',
    'typepy',
]
include_trailing_comma = true
line_length = 100
lines_after_imports = 2
multi_line_output = 3
skip_glob = [
    '*/.eggs/*',
    '*/.tox/*',
]
