DataProperty>=0.28.0
dominate>=2.3.1
elasticsearch>=5.4.0
enum34;python_version<"3.4"
ipaddress;python_version<"3.3"
logbook
mbstrdecoder
pathvalidate>=0.16.2
SimpleSQLite>=0.18.0
six
tabledata>=0.0.2
toml>=0.9.3
typepy
XlsxWriter>=1.0.2
xlwt
