DataProperty>=0.30.2
dominate>=2.3.1
elasticsearch>=5.4.0
enum34;python_version<"3.4"
ipaddress;python_version<"3.3"
logbook
mbstrdecoder
msgfy>=0.0.1
pathvalidate>=0.17.1
SimpleSQLite>=0.20.2
six
tabledata>=0.0.8
toml>=0.9.4
typepy
XlsxWriter>=1.0.4
xlwt
